*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: montserrat;
}
nav {
    height: 80px;
    width:  100%;
    background: #ffff;
}
lable.logo{
    font-size: 35px;
    font-weight: bold;
    color : black;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-heght: 80px;
}
nav a{
    color: rgb(12, 12, 12);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius : 3px;
}
a.active,a:hover{
    border: 1px solid whitw;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width:1048px){
    lable.logo{
        font-size:32px;
        padding-left: 60px;

    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 909px){
    nav #icone{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100px;
        height:100vh;
        background: #2f3640;
        top: 80px;
        left: 0;
        text-align: center;
    }
}